.heard {
				width: 16rem;
				height: 2rem;
				background: #fff;
			}
			
			.heard .left {
				width: 7.975rem;
				height: 2rem;
				float: left;
				text-align: center;
				line-height: 2rem;
			}
			
			.left img {
				width: .75rem;
				height: 1rem;
			    margin-top: -.3rem;
			}
			
			.left span {
				font-family: "宋体";
				font-size: .65rem;
				font-weight: 700;
				margin-left: 10px;
			}
			.heard .line {
				width: .08rem;
				height: .85rem;
				float: left;
				margin-top: 0.575rem;
				background: #000000;
			}
			
			.heard .right {
				float: right;
				width: 7.9rem;
				height: 2rem;
				text-align: center;
				line-height: 2rem;
			}
			.right img {
				width: .75rem;
				height: .85rem;
				margin-top: -.3rem;
			}
			
			.right span {
				font-family: "宋体";
				font-size: .65rem;
				font-weight: 700;
				margin-left: 10px;
			}
			
			ul
			{
				padding-bottom: .64rem;
			}
			ul li
			{
				width: 16rem;
				height: 3.37rem;
				margin-top: .64rem;
				position: relative;
			}
			li img{
				width: 14.72rem;
				margin-left: .64rem;
				height: 3.37rem;
				position: absolute;
				top: 0;
				left: 0;
			}
			li .text1
			{
				font-family: "";
				position: absolute;
				width: 5.12rem;
				height: 3.37rem;
				margin-left: .64rem;
				z-index: 99999;
			}
			
			.text1 .P1
			{
				font-family: "微软雅黑";
				font-size: .7rem;
				margin-left: 1.28rem;
				color: #fff;
				margin-top: .42rem;
			}
			.text1 .P2
			{
				font-family: "宋体";
				font-size: .85rem;
				color: #fff;
				font-weight: 800;
				margin-left: 1.88rem;
				line-height: .8rem;
			}
		     .weixiaofei .text1 .P3
			{
				color: #f1bdb5;
				font-size: .45rem;
				margin-left: .9rem;
			}
			.yixiaofei .text1 .P3
			{
				color: #c2c2c2;
				font-size: .45rem;
				margin-left: .9rem;
			}
			li .text2
			{
				position: absolute;
				width: 7.76rem;
				height: 3.37rem;
				left: 5.76rem;
				z-index: 99999;
				border-right: 1px dashed #C7C7C7;
			}
			
			.text2 .P1
			{
				font-family: "微软雅黑";
				font-size: .55rem;
				margin-left: .5rem;
				color: #666666;
				margin-top: .6rem;
			}
			.text2 .P2
			{
				font-family: "宋体";
				font-size: .55rem;
				color: #666666;
				margin-left: .5rem;
				line-height: .7rem;
			}
			.text2 .P3
			{
				color: #666666;
				font-size: .55rem;
				margin-left: .5rem;
			}
			.P3 .youhuim
			{
				color: #e65e48;
			}
			
			.weixiaofei .text3
			{
				font-family: "微软雅黑";
				position: absolute;
				float: right;
				height: 3.37rem;
				width: .5rem;
				left: 13.52rem;
				text-align: center;
				padding: .25rem .6rem;
				color: #e65e48;
				font-size: .47rem;
			}
			
			.yixiaofei .text3
			{
				font-family: "微软雅黑";
				position: absolute;
				float: right;
				height: 3.37rem;
				width: .5rem;
				left: 13.52rem;
				text-align: center;
				padding: .6rem .6rem;
				color: #666666;
				font-size: .47rem;
			}
